{% block extrahead %}
  {{ super() }}
  <meta name="description" content="Welcome to ac-electricity! Here you will learn more about electricity, the different components used to make an electrical circuit as well as their features and use cases.">
  <meta name="keywords" content="alexis carbillet, carbillet, electricity, capacitors, conductors, diodes, electronic, energy source, hardware, home appliances, inductors, insulators, resistors, semi-conductors">
  <meta name="author" content="Alexis Carbillet">

  <!-- Script Google Ads -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9364684337389377"
   crossorigin="anonymous"></script>
{% endblock %}
